
@tailwind base;
@tailwind components;
@tailwind utilities;


.App{
    background-color: white;
    height: 100%;
    width: 100%;
}


@media screen and (max-width: 520px) {
    #nav_container .menu {
        display: flex;
        margin: 1rem;
        margin-left: 2.5rem ;
        margin-right: 2.5rem ;
        width: 2.5rem;
        height: 2.5rem;
    }

    #nav_container ul {
        display: none;
        flex-direction: column;
        width: 100%;
        margin-bottom: 0.25rem;
    }

    #nav_container ul li{
        width: 100%;
        text-align: center;
    }

    #nav_container ul li a {
        margin: 0.2rem 0.5rem;
    }

    #nav_container ul.open{
        display: flex;
        flex-direction: column;
    }
}