
@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html{
    height: 100dvh;
    width: 100dvw;
}

body{
    height: 100%;
    width: 100%;
}

#root{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.app_container{
    
}